.blog-container{
    border: 2px solid black;
    margin-top: 30px;
}
.q1{
    border: 2px solid black;
    margin: 5px;
    padding: 20px;
}
.q2{
    border: 2px solid black;
    margin: 5px;
    padding: 20px;
}
.q3{
    border: 2px solid black;
    margin: 5px;
    padding: 20px;
}